*{
    margin: 0;
}
.banner{
    background-image: url(./images/banner/banner3.png);
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    height: 808px;
   
}
.banner-site{
    width: 525px;
    position: absolute;
    top: 216px;
    right: 180px;
  
}
#banner-hedding{
    font-size: 65px;
    font-weight: 700px;
    line-height: 76px;
    text-align: right;
    color: white;
}
#banner-text{
    width: 404px;
    height: 78px;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    text-align: right;
    margin-left: 110px;
    margin-top: 20px;
}
#Contact{
    font-size: 20px;
    line-height: 23px;
    text-align: right;
    padding: 10px;
    color: #005FAC;
    margin-top: 32px;
    border-radius: 10px;
    background-color: #fff;
    border:none;
}

/* secund part */

 .Previous-year{
    display: flex;
    justify-content: space-between;
    width: 1072px;
    height: 723.3px;
    padding: 100px ;
    position: relative;
 }
 #img-site{
    width: 569px;
    height: 723.3px;
 }
#text-section{
    width: 416px;
    height: 400px;
    position: absolute;
    top: 380px;
    left: 842px;
   
}
#text-header{
 width: 288px;
font-weight: 700;
font-size: 40px;
line-height: 47px;
color: #151414;
margin-bottom: 10px;
}
#text-contant{
 width: 416px;
top: 1324px;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #444343;
}
#text-section ul{
    width: 349px;
    line-height: 25px;
    margin-top: 10px;
    color: #444343;
}

/* 3rd part */

.Plans{
    text-align: center;
    color: black;
    font-weight: 700px;
    font-size: 40px;
    margin-bottom: 50px;
}
.My-plans{
    width: 1141px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-left: 90px;
    padding: 10px 100px 10px 70px;

}
.all-Plans{
    width: 214px;
    height: 197px;
    text-align: center;
   
}
.all-Plans h3{
    font-size: 26px;
    font-weight: 700px;
    color: black;
    margin-top:10px;
    line-height: 30px;
    text-align: center;
}
.all-Plans p{
    font-size: 20px;
    color: #444343;
    font-weight: 500px;
    margin-top: 10px;
}